@{
    ViewBag.Title = "FirstPage";
}

@Html.Partial("_Carousel")
<h2>Добро пожаловать.</h2>
<p>Этот текст означает то, что хоть что-то понял. Возможно, рано или поздно здесь можно будет найти что-нибудь интересненькое, но пока только это.</p>
<p><small>Наверно будет.....</small></p>
